:root {
    --body-background-color: #ffffff;
    --primary-text-color: #4A4A4A;
    --secondary-text-color: #F5F5F5;
    --header-color: #333333;
    --color-of-cards: #838383;
    --color-of-certificat: #C1C1C1;
    --accent-color: #E97522;
    --main-font: 'Montserrat', sans-serif;
}

/* ========== COMPONENTS and UTILITES========== */
.container {
    outline: 2px solid tomato;
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.button {
    display: block;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 10px;
    padding: 0px 0px;
}

.heads {
    font-family: var(--main-font);
    margin: 0 0;
}

p,
ul {
    margin: 0 0;
    padding: 0 0;
}

/* ========== END COMPONENTS ========== */

/* ========== BODY ==========*/
.body {
    width: 1440px;
    background-color: var(--body-background-color);
    color: --primary-text-color;
    font-family: var(--main-font);
    font-style: Medium;
    font-weight: 500;
}

/* ========== END BODY ==========*/

/* ========== HEADER ==========*/
.header-container {
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__list {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    outline: 1px solid tomato;
    width: 55px;
    height: 55px;

    text-align: center;

    padding-top: 16px;
    margin-right: 102px;
    border-radius: 50%;
    border-style: dashed;
}

.header__item {
    display: block;
    margin-right: 32px;
}

.header__item:nth-child(6) {
    margin-right: 0;
}

.header__list--feedback {
    margin-left: auto;
}

.header__item--feedback:not(:last-child) {
    margin-right: 24px;
}

.header__button {
    padding: 3px 21px;
    
    position: static;
    width: 196px;
    height: 31px;
    left: 0px;
    top: 0px;
    
    border: 2px solid #E97522;
    box-sizing: border-box;
    border-radius: 10px;

    color: var(--accent-color);
}

.header__button:hover,
.header__button:focus {
    background-color: var(--accent-color);
    color: var(--body-background-color);
    /* border: 2px solid var(--accent-color);
    border-color: #E97522; */
}

.header__item-tel {
    color: var(--primary-text-color);
}
/* ========== END HEADER ==========*/

/* ========== HERO ==========*/
.hero {
    outline: 2px solid olive;

    height: 800px;
    background-image: url("../images/hero/bg_image.png");
    background-size:cover;

    padding-top: 150px;
    padding-left: 100px;
    padding-right: 550px;
    padding-bottom: 80px;
}

.hero__head {
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 1.18;
    letter-spacing: 3.2px;

    margin-bottom: 52px;
    
    color: var(--secondary-text-color);
}

.hero__description {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;

    margin-bottom: 24px;
    
    color: var(--secondary-text-color);
}

.hero__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    margin-bottom: 32px;

    color: var(--secondary-text-color);
}

.hero__button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    padding: 22px 28px;

    cursor: pointer;
    
    color: var(--body-background-color);
}

/* ========== END HERO ==========*/

/* ========== WORKS ==========*/
.works {
    outline: 2px solid teal;

    padding-top: 120px;
    padding-bottom: 60px;
}

.works__head {
    margin-bottom: 80px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    
    color: var(--header-color);
}

/* ========== END WORKS ==========*/

/* ========== LOCATION ==========*/
.location {
    outline: 2px solid teal;

    padding-top: 60px;
    padding-bottom: 80px;
}

.location__head {
    margin-bottom: 80px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);
}

/* .location__bg {
    background-image: url("../images/location/line-location.png");
    position: absolute;
    width: 646.91px;
    height: 1728.22px;
    left: 1567.9px;
    top: 272.58px;
    
    opacity: 0.2;
    /* Text color 2 */
    
    /* border: 3px dashed #4A4A4A;
    border-radius: 100px;
    transform: rotate(103.22deg);
} */



.location__button {
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 59px;
    padding-right: 59px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    cursor: pointer;
    
    color: var(--body-background-color);
}

/* ========== END LOCATION ==========*/

/* ========== DESIGN ==========*/
.design {
    outline: 2px solid rgb(218, 124, 16);
    padding-top: 60px;
    padding-bottom: 51px;
}

.design__head {
    margin-bottom: 80px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);
}

.design__bg {
    width: 1440px;
    height: 674px;
    background-image: url("../images/design/bg.png");
}

/* ========== END DESIGN ==========*/

/* ========== SERVICES ==========*/
.services {
    outline: 2px solid rgb(218, 124, 16);

    padding-top: 60px;
    padding-bottom: 80px;
}

.services__head {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    
    color: var(--header-color);
}

/* ========== END SERVICES ==========*/

/* ========== WORKSTAGES ==========*/
.workstages {
    outline: 2px solid brown;
    padding-top: 78px;
    padding-bottom: 168px;
}

.workstages__head {
    margin-bottom: 97px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    
    text-align: center;
    
    color: var(--header-color);
}

.workstages__box-firts {
    border: 2px solid #E97522;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;
}

.workstages__box-second {
    border: 2px solid #E97522;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;
}

.workstages__box-third {
    border: 2px solid #E97522;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;
}

.workstages__box-fourth {
    border: 2px solid #E97522;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;
}

.workstages__box-fifth {
    border: 2px solid #E97522;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;
}

.icon-number {
    width: 50px;
    height: 50px;
    background-color: #F9F4EE;
    text-align: center;
    padding-top: 11px;

    border-radius: 50%;
}

/* .workstages__box-firts::after {
    display: inline-flex;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #F9F4EE;
    border-radius: 50%;
    background-image: url("../images/svg/sprite.svg#icon-number-four");
} */

/* ========== END WORKSTAGES ==========*/

/* ========== PHOTOSHOOT ==========*/
.photoshoot {
    outline: 2px solid green;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;

    background-color: #F2F4F4;
}

.photoshoot__head {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
 
    color: var(--header-color);

    margin-bottom: 32px;
}

.photoshoot__button {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    margin-left: auto;
    cursor: pointer;

    border: none;

    color: var(--accent-color);
    background-color: #F2F4F4;
}

.bottom-arrow {
    margin-left: 20px;
}

/* ========== END PHOTOSHOOT ==========*/

/* ========== PRICE ==========*/
.price {
    outline: 2px solid #2b1abe;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 118px;
    padding-bottom: 170px;
}

.price__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    margin-bottom: 80px;

    color: var(--header-color);
}

.price-box {
    display: flex;
    align-items: center;
}

.price-box__mini {
    outline: 2px solid #2b1abe;
    width: 398px;
    height: 100%;
    padding-top: 48px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 42px;
    border-radius: 16px;
    margin-right: 22px;

    background-color: #F2F4F4;
}

.price-box__mini-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--primary-text-color);
}

.price-box__mini-value {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 4px;

    color: var(--header-color);
}

.price-box__mini-location {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 40px;

    color:var(--color-of-cards);
}

/* .price-box__mini-package {
    display: flex;
    align-items: center;
} */

.price-box__mini-option {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--header-color);
}

.icon-check-price {
    margin-right: 8px;
}
.price-box__mini-option:last-child {
    margin-bottom: 32px;
}

.price-box__mini-additional {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    margin-bottom: 12px;

    color: var(--header-color);
}

.price-box__mini-additional-option {
    margin-bottom: 52px;
}

.price-box__mini-additional-help {
    display: inline-block;
    width: 108px;
    height: 40px;
    padding: 6px 5px;

    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;

    color: var(--header-color);
}

.price-box__mini-additional-visagiste {
    display: inline-block;
    width: 82px;
    height: 40px;
    padding: 6px 8px;
    
    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    
    text-align: center;
    
    color: var(--header-color);
}

.price-box__mini-additional-retouch {
    display: inline-block;
    width: 170px;
    height: 40px;
    padding: 6px;
    
    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    
    text-align: center;
    
    color: var(--header-color);
}

.price-box__button {
    width: 370px;
    height: 48px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;
    
    color: var(--body-background-color);
}

.price-box__standart {
    outline: 2px solid #2b1abe;
    width: 398px;
    height: 100%;
    padding-top: 48px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 42px;
    border-radius: 16px;
    margin-right: 22px;

    background-color: #F9F4EE;
}

.price-box__standart-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--primary-text-color);
}

.price-box__standart-value {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 4px;

    color: var(--header-color);
}

.price-box__standart-location {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 40px;

    color: var(--color-of-cards);
}

.price-box__standart-option {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--header-color);
}

.price-box__standart-option:last-child {
    margin-bottom: 32px;
}

.price-box__standart-additional {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 12px;

    text-align: center;

    color: var(--header-color);
}

.price-box__standart-additional-option {
    margin-bottom: 52px;
}

.price-box__standart-additional-help {
    display: inline-block;
    width: 108px;
    height: 40px;
    padding: 6px 5px;

    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;

    color: var(--header-color);
}

.price-box__standart-additional-visagiste {
    display: inline-block;
    width: 82px;
    height: 40px;
    padding: 6px 8px;

    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;

    color: var(--header-color);
}

.price-box__standart-additional-retouch {
    display: inline-block;
    width: 170px;
    height: 40px;
    padding: 6px;

    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;

    color: var(--header-color);
}

.price-box__maxi {
    outline: 2px solid #2b1abe;
    width: 398px;
    padding-top: 48px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 42px;
    border-radius: 16px;

    background-color: #F5D9C6;
}

.price-box__maxi-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--primary-text-color);
}

.price-box__maxi-value {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;

    margin-left: 30px;
    margin-bottom: 4px;

    color: var(--header-color);
}

.price-box__maxi-location {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 40px;

    color: var(--color-of-cards);
}

.price-box__maxi-option {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    margin-left: 30px;
    margin-bottom: 16px;

    color: var(--header-color);
}

.price-box__maxi-option:last-child {
    margin-bottom: 28px;
}

.price-box__maxi-additional {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;

    margin-bottom: 12px;

    color: var(--header-color);
}

.price-box__maxi-additional-retouch {
    display: inline-block;
    width: 170px;
    height: 40px;
    padding: 6px;
    /* margin: 0 auto; */

    background: var(--body-background-color);
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    text-align: center;
    margin-bottom: 40px;

    color: var(--header-color);
}

.price-box__maxi-additional-option {
    display: flex;
    justify-content: center;
}

.price-box__maxi-option--last {
    align-items: flex-start;
}
/* ========== END PRICE ==========*/

/* ========== PHOTOGRAPHIC ==========*/
.photographic {
    outline: 2px solid green;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;

    background-color: #F9F4EE;
}

.photographic__head {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);

    margin-bottom: 32px;
}

.photographic__button {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    margin-left: auto;
    cursor: pointer;

    border: none;

    color: var(--accent-color);
    background-color: #F2F4F4;
}

.bottom-arrow {
    margin-left: 20px;
}

/* ========== END PHOTOGRAPHIC ==========*/

/* ========== GIFTS ==========*/
.gifts {
    outline: 2px solid yellowgreen;
    padding-top: 82px;
    padding-bottom: 92px;
}

.gifts__head {
    margin-bottom: 80px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);
}

.gifts-container {
    display: flex;
    padding-left: 120px;
    padding-right: 86px;
    padding-bottom: 38px;
    border-radius: 25px;

    background-color: #F2F4F4;
}

.gifts__description {
    margin-top: 112px;
    width: 400px;
}

.gifts__type {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 8px;
    
    color: var(--color-of-certificat);
}

.gifts__name {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.4;
    letter-spacing: 1px;

    margin-bottom: 52px;

    color: var(--primary-text-color);
}

.gifts__item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;

    color: var(--primary-text-color);

    margin-bottom: 24px;
}

.gifts__item:last-child {
    margin-bottom: 0;
}

.icon-check {
    margin-right: 16px;
}

.gifts__purchase {
    margin-left: auto;
}

.gifts__expiration {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: var(--header-color);
}

.gifts__button {
    width: 342px;
    height: 48px;
    margin: 0 auto;

    border: none;
    cursor: pointer;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: var(--body-background-color);
}
/* ========== END GIFTS ==========*/

/* ========== REVIEWS ==========*/

/* ========== END REVIEWS ==========*/

/* ========== BACKFORM ==========*/

/* ========== END BACKFORM ==========*/

/* ========== FOOTER ==========*/

/* ========== END FOOTER ==========*/