/* ========== COMPONENTS and UTILITES========== */


/* ========== END COMPONENTS and UTILITES ========== */

/* ========== BODY ==========*/


/* ========== END BODY ==========*/

/* ========== HEADER ==========*/

/* ========== END HEADER ==========*/

/* ========== HERO ==========*/


/* ========== END HERO ==========*/

/* ========== WORKS ==========*/


/* ========== END WORKS ==========*/

/* ========== LOCATION ==========*/


/* ========== END LOCATION ==========*/

/* ========== DESIGN ==========*/

/* ========== END DESIGN ==========*/

/* ========== SERVICES ==========*/

/* ========== END SERVICES ==========*/

/* ========== WORKSTAGES ==========*/


/* .workstages__box-firts::after {
    display: inline-flex;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #F9F4EE;
    border-radius: 50%;
    background-image: url("../images/svg/sprite.svg#icon-number-four");
} */

/* ========== END WORKSTAGES ==========*/

/* ========== PHOTOSHOOT ==========*/


/* ========== END PHOTOSHOOT ==========*/

/* ========== PRICE ==========*/

/* ========== END PRICE ==========*/

/* ========== PHOTOGRAPHIC ==========*/

/* ========== END PHOTOGRAPHIC ==========*/

/* ========== GIFTS ==========*/

/* ========== END GIFTS ==========*/

/* ========== REVIEWS ==========*/

/* ========== END REVIEWS ==========*/

/* ========== BACKFORM ==========*/

/* ========== END BACKFORM ==========*/

/* ========== FOOTER ==========*/


/* ========== END FOOTER ==========*/

/* ========== BACKDROP and MODAL ==========*/

/* ========== END BACKDROP and MODAL ==========*/
