.design {
    @media screen and (max-width: 1023px) {
        width: 375px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;

    &__bg {
        width: 375px;
        height: 375px;
        background-color: rgb(161, 160, 159);

        // background-image: url("../images/design/bg.png");
    }
    }
    
    @media screen and (min-width:1024px) and (max-width:1439px) {
        width: 1024px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
    
    &__bg {
        width: 1026px;
        height: 674px;
        background-color: rgb(161, 160, 159);
        // background-image: url("../images/design/bg.png");
    }
        }
    
    @media screen and (min-width:1440px) {
        width: 1440px;
        padding-top: 60px;
            padding-bottom: 51px;
        margin: 0 auto;

            &__bg {
                width: 1440px;
                height: 674px;
                background-image: url("../images/design/bg.png");
            }
    }
}