.design {
    outline: 2px solid rgb(218, 124, 16);
    padding-top: 60px;
    padding-bottom: 51px;
}

.design__head {
    margin-bottom: 80px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);
}

.design__bg {
    width: 1440px;
    height: 674px;
    background-image: url("../images/design/bg.png");
}