.gifts {
    position: relative;
    outline: 2px solid yellowgreen;
    padding-top: 82px;
    padding-bottom: 92px;
}

.gifts__line-img {
    position: absolute;
    bottom: 0;
    right: 0;

    z-index: 2;
}

.gifts__head {
    margin-bottom: 80px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);
}

.gifts__description {
    margin-top: 112px;
    width: 400px;
}

.gifts__type {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;

    margin-bottom: 8px;

    color: var(--color-of-certificat);
}

.gifts__name {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.4;
    letter-spacing: 1px;

    margin-bottom: 52px;

    color: var(--primary-text-color);
}

.gifts__item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;

    color: var(--primary-text-color);

    margin-bottom: 24px;
}

.gifts__item:last-child {
    margin-bottom: 0;
}

.icon-check {
    margin-right: 16px;
}

.gifts__purchase {
    margin-left: auto;
}

.gifts__expiration {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: var(--header-color);
}

.gifts__img {
    position: relative;
    z-index: 3;
}