.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    display: block;
    margin-right: 32px;

    transition: transform 250ms linear;
}

.header__item:hover {
    transform: scale(1.2);
}

.header__item:nth-child(6) {
    margin-right: 0;
}

.header__list--feedback {
    margin-left: auto;
}

.header__item--feedback:not(:last-child) {
    margin-right: 24px;
}

.header__item-tel {
    color: var(--primary-text-color);
}