.hero {
    @include paddings(150px, 550px, 80px, 100px);

    height: 800px;
    background-image: url("../images/hero/bg_image.png");
    background-size: cover;

    &__description {
        @include font (600, 36px, 44px);
        font-style: normal;
        margin-bottom: 24px;
    
        color: var(--secondary-text-color);
    }

    &__text {
        @include font (500, 16px, 25px);
        font-style: normal;
        margin-bottom: 32px;
    
        color: var(--secondary-text-color);
    }
}