.modal-feedback {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1033px;
    height: 559px;
    border-radius: 15px;
    padding-top: 60px;
    padding-bottom: 54px;
    padding-left: 34px;
    padding-right: 40px;

    background-color: var(--body-background-color);
}

.modal-feedback__img {
    margin-top: 30px;
}

.modal-feedback__form {
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 6px;
    margin-left: 25px;

    width: 479px;
    /* height: 439px; */
    outline: 1px solid tomato;
}

.modal-feedback__head {
    margin-bottom: 22px;
    margin-top: 0;

    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;

    color: var(--primary-text-color);
}

.modal-feedback__block {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.modal-feedback__block--lastblock {
    margin-bottom: 20px;
}

.modal-feedback__block label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #121621;

    opacity: 0.4;
}

.modal-feedback__block input {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;

    border: 1px solid #DDDEE4;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.0;

    color: #B1B1B1;

    opacity: 0.4;
}

.modal-feedback_agreement {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    text-align: center;

    color: #585858;
}

.modal-feedback__close {
    position: absolute;
    fill: var(--body-background-color);
}

.modal-feedback__close-button {
    display: flex;
    position: absolute;
    top: -37px;
    right: 0;

    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    cursor: pointer;
}

.modal-thank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 622px;
    height: 331px;
    border-radius: 15px;
    padding-top: 88px;
    padding-bottom: 89px;
    padding-left: 83px;
    padding-right: 83px;

    background-color: var(--body-background-color);
    background-image: url("../images/modals/topright-bigcircule.png"), url("../images/modals/topright-smallcircule.png"), url("../images/modals/bottomleft-bigcircule.png"), url("../images/modals/bottomleft-smallcircule.jpg");
    background-position: top right, left 551.31px top 74.61px, left bottom, left 14.56px bottom;
    background-repeat: no-repeat;
}

.modal-thank__head {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;

    text-align: center;

    color: var(--primary-text-color);
}

.modal-thank__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;

    text-align: center;

    color: #121621;
    opacity: 0.4;
}