.photographic {
    outline: 2px solid green;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;

    background-color: #F9F4EE;
}

.photographic__head {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--header-color);

    margin-bottom: 32px;
}

.bottom-arrow {
    margin-left: 20px;
}