.reviews {
    position: relative;

    padding-top: 60px;
    padding-bottom: 86px;

    &__list {
        display: flex;
    }

    &__item {
        width: 340px;
        margin-right: 16px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item--maria {
        margin-top: 101px;
    }

    &__item--ruslan {
        margin-top: 101px;
    }

    &__item--sergey {
        margin-bottom: 101px;
    }

    &__addreview {
        @include font (600, 16px, 20px);
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translate(-50%);
    
        width: 342px;
        height: 48px;
    
        border: none;
        margin: 0 auto;
        cursor: pointer;
    
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
    
        color: var(--body-background-color);
    }
}