.reviews {
    position: relative;

    padding-top: 60px;
    padding-bottom: 86px;
}

.reviews__list {
    display: flex;
}

.reviews__item {
    width: 340px;
    margin-right: 16px;
}

.reviews__item:last-child {
    margin-right: 0;
}

.reviews__item--maria,
.reviews__item--ruslan {
    margin-top: 101px;
}

.reviews__item--sergey {
    margin-bottom: 101px;
}

.reviews__addreview {
    @include font (600, 16px, 20px);
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translate(-50%);

    width: 342px;
    height: 48px;

    border: none;
    margin: 0 auto;
    cursor: pointer;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--body-background-color);
}
