.services {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;

    &__img-lovestory {
        @include images (absolute, 183px, 100px, transform 250ms linear);

        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__text-lovestory {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 132px, 482px, var(--body-background-color), transform 250ms linear);

        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-teenager {
        @include images (absolute, 183px, 526px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-teenager {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 558px, 852px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    
    }

    &__img-pair {
        @include images (absolute, 183px, 948px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-pair {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 980px, 482px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-boy {
        @include images (absolute, 553px, 100px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-boy {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 133px, 852px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-family {
        @include images (absolute, 553px, 948px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-family {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 980px, 1220px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-group {
        @include images (absolute, 921px, 100px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-group {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 132px, 1589px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-lookbook {
        @include images (absolute, 921px, 524px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-lookbook {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 556px, 1220px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-girls {
        @include images (absolute, 1290px, 524px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-girls {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 556px, 1589px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-pregnant {
        @include images (absolute, 1659px, 100px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-pregnant {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 132px, 1958px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-with-animals {
        @include images (absolute, 1659px, 524px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-with-animals {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 556px, 1958px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }

    &__img-bussiness-style {
        @include images (absolute, 1659px, 949px, transform 250ms linear);

        .service-img-container:hover & {
                transform: scale(1.1);
            }
    }

    &__text-bussiness-style {
        @include font (600, 16px, 20px);
        @include img-text(absolute, 981px, 1958px, var(--body-background-color), transform 250ms linear);
    
        .service-img-container:hover & {
            transform: scale(1.1);
        }
    }
}