.workstages {
    height: 1212px;

    position: relative;
    padding-top: 78px;
    padding-bottom: 168px;

    background-image: url("../images/workstages/workstages-line.png");
    background-repeat: no-repeat;
    background-position: center;

    &__box-firts {
            @include workstages-block(2px solid #E97522, absolute, 10px, 348px, 190px, 39px, 39px, 51px, 40px, 218px, 112px, var(--body-background-color), 2);
        }

    &__box-second {
            @include workstages-block(2px solid #E97522, absolute, 10px, 348px, 190px, 39px, 39px, 51px, 40px, 275px, 733px, var(--body-background-color), 2);
        }

    &__box-third {
        @include workstages-block(2px solid #E97522, absolute, 10px, 348px, 190px, 39px, 39px, 51px, 40px, 577px, 984px, var(--body-background-color), 2);
        }

    &__box-fourth {
        @include workstages-block(2px solid #E97522, absolute, 10px, 348px, 190px, 39px, 39px, 51px, 40px, 572px, 274px, var(--body-background-color), 2);
        }

    &__box-fifth {
        @include workstages-block(2px solid #E97522, absolute, 10px, 348px, 190px, 39px, 39px, 51px, 40px, 854px, 638px, var(--body-background-color), 2);
        }
}

.icon-number {
    position: absolute;
    left: -16px;
    top: 156px;

    width: 50px;
    height: 50px;
    background-color: #F9F4EE;
    text-align: center;
    padding-top: 11px;

    border-radius: 50%;

    transition: transform 500ms linear, background-collor 250ms linear;

    &:hover {
            transform: rotateY(360deg);
            background-color: #db8f1c;
        }
}