.workstages {
    outline: 2px solid brown;

    height: 1212px;

    position: relative;
    padding-top: 78px;
    padding-bottom: 168px;

    background-image: url("../images/workstages/workstages-line.png");
    background-repeat: no-repeat;
    background-position: center;
}

.workstages__head {
    margin-bottom: 97px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;

    text-align: center;

    color: var(--header-color);
}

.workstages__box-firts {
    border: 2px solid #E97522;

    position: absolute;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;

    top: 218px;
    left: 112px;

    background-color: var(--body-background-color);
    z-index: 2;
}

.workstages__box-second {
    border: 2px solid #E97522;

    position: absolute;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;

    top: 275px;
    left: 733px;

    background-color: var(--body-background-color);
    z-index: 2;
}

.workstages__box-third {
    border: 2px solid #E97522;

    position: absolute;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;

    top: 577px;
    left: 984px;

    background-color: var(--body-background-color);
    z-index: 2;
}

.workstages__box-fourth {
    border: 2px solid #E97522;

    position: absolute;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;

    top: 572px;
    left: 274px;

    background-color: var(--body-background-color);
    z-index: 2;
}

.workstages__box-fifth {
    border: 2px solid #E97522;

    position: absolute;
    border-radius: 10px;
    width: 348px;
    height: 190px;
    padding: 39px 39px 51px 40px;

    top: 854px;
    left: 638px;

    background-color: var(--body-background-color);
    z-index: 2;
}

.icon-number {
    position: absolute;
    left: -16px;
    top: 156px;

    width: 50px;
    height: 50px;
    background-color: #F9F4EE;
    text-align: center;
    padding-top: 11px;

    border-radius: 50%;

    transition: transform 500ms linear, background-collor 250ms linear;
}

.icon-number:hover {
    transform: rotateY(360deg);
    background-color: #2b1abe;
}