.button {
    display: block;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 10px;
    padding: 0px 0px;
}

@media screen and (max-width:1023px) {
    .hero__button {
        @include font (600, 14px, 17px);
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;

        padding: 20px 28px 24px 28px;

        cursor: pointer;
        border: none;

        color: var(--body-background-color);
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    .hero__button {
            @include font (600, 16px, 20px);
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
    
            padding: 20px 28px 24px 28px;
    
            cursor: pointer;
            border: none;
    
            color: var(--body-background-color);
        }
}

.header__button {
    padding: 3px 21px;

    position: static;
    width: 196px;
    height: 31px;
    left: 0px;
    top: 0px;

    border: 2px solid #E97522;
    box-sizing: border-box;
    border-radius: 10px;

    color: var(--accent-color);

    transition: background-color 250ms linear;
}

.header__button:hover,
.header__button:focus {
    background-color: var(--accent-color);
    color: var(--body-background-color);
    /* border: 2px solid var(--accent-color);
    border-color: #E97522; */
}

.location__navigation-button {
    position: absolute;
    left: 63px;
    top: 321px;

    display: flex;
    width: 1313px;
    height: 73px;

    z-index: 2;
}

.location__button {
    @extend %margin-auto;
    @include paddings(14px, 59px, 14px, 59px);
    @include font (600, 16px, 20px);
    margin-top: 60px;
    margin-bottom: 0;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    cursor: pointer;
    border: none;

    color: var(--body-background-color);
}

.photoshoot__button {
    @include font (600, 16px, 24px);
    display: flex;
    align-items: center;

    text-align: center;

    margin-left: auto;
    cursor: pointer;

    border: none;

    color: var(--accent-color);
    background-color: #F2F4F4;
}

.price-box__button {
    @include font (600, 16px, 24px);
    width: 370px;
    height: 48px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: var(--body-background-color);
}

.photographic__button {
    @include font (600, 16px, 24px);
    display: flex;
    align-items: center;

    text-align: center;

    margin-left: auto;
    cursor: pointer;

    border: none;

    color: var(--accent-color);
    background-color: #F2F4F4;
}

.gifts__button {
    @include font (600, 16px, 24px);
    position: relative;
    width: 342px;
    height: 48px;
    margin: 0 auto;

    border: none;
    cursor: pointer;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    z-index: 3;

    color: var(--body-background-color);
}

.modal-feedback__button {
    @extend %margin-auto;
    @include font (600, 16px, 20px);
    padding: 14px 74px;
    width: 420px;
    height: 48px;
    margin-bottom: 30px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--body-background-color);

    cursor: pointer;
    border: none;
}



.modal-feedback__close-button {
    display: flex;
    position: absolute;
    top: -37px;
    right: 0;

    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    cursor: pointer;
}