.heads {
    font-family: var(--main-font);
    margin: 0 0;
}

.design__head {
    @include font (700, 36px, 44px);
    margin-bottom: 80px;

    text-align: center;

    color: var(--header-color);
}

.gifts__head {
    @include font (600, 36px, 44px);
    margin-bottom: 80px;

    text-align: center;

    color: var(--header-color);
}

.hero__head {
    @include font (700, 66px, 78px);
    font-style: normal;
    letter-spacing: 3.2px;

    margin-bottom: 52px;

    color: var(--secondary-text-color);
}

.location__head {
    // @media screen and (max-width: 1023px) {
        @include font (600, 24px, 34px);
        margin-bottom: 40px;
        text-align: center;
        
        color: var(--header-color);
}

@media screen and (min-widht:1024px) and (max-width: 1439px) {
    .location__head {
        color: coral;
    }
}

    // @media screen and (min-widht:1024px) and (max-width: 1439px) {
    //     @include font (700, 30px, 36px);
    //     outline: 2px solid tomato;
    //     margin-bottom: 40px;
    //     text-align: center;
    //     color: brown;
    //     // color: var(--header-color);
    // }

    // @include font (700, 36px, 44px);
    // margin-bottom: 80px;
    // text-align: center;

    // color: var(--header-color);

.modal-feedback__head {
    @include font (600, 30px, 36px);
    margin-bottom: 22px;
    margin-top: 0;

    text-align: center;

    color: var(--primary-text-color);
}

.modal-thank__head {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;

    text-align: center;

    color: var(--primary-text-color);
}

.photographic__head {
    @include font (600, 36px, 44px);
    text-align: center;

    color: var(--header-color);

    margin-bottom: 32px;
}

.photoshoot__head {
    @include font (600, 36px, 44px);
    text-align: center;

    color: var(--header-color);

    margin-bottom: 32px;
}

.price__head {
    @include font (700, 36px, 44px);
    text-align: center;

    margin-bottom: 80px;

    color: var(--header-color);
}

.reviews__head {
    @include font (600, 36px, 44px);
    margin-bottom: 80px;

    color: var(--header-color);
    text-align: center;
}

.services__head {
    @include font (700, 36px, 44px);
    margin-bottom: 80px;
    text-align: center;

    color: var(--header-color);
}

.works__head {
    @include font (600, 24px, 34px);
    margin-bottom: 40px;
    text-align: center;

    color: var(--header-color);

    @media screen and (min-width:1023px) and (max-width:1439px) {
        @include font (600, 30px, 36px);
        margin-bottom: 80px;    
    }

    @media screen and (min-width:1440px) {
        @include font (600, 36px, 43px);
        margin-bottom: 80px;
    }
}

.workstages__head {
    @include font (600, 36px, 44px);
    margin-bottom: 97px;
    text-align: center;

    color: var(--header-color);
}