.logo {
    &__mobile {
        display: flex;
        width: 25px;
        height: 25px;
        
        font-size: 6px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        
        animation: rotateLogo 5000ms linear infinite;
    }
}

.logo {
    @media screen and (min-width: 1024px) {
        display: flex;
        width: 56px;
        height: 56px;
        
        font-size: 8px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        
        animation: rotateLogo 5000ms linear infinite;
    }
    
}