.container {
    outline: 2px solid rgb(72, 173, 62);
    padding-left: 15px;
    padding-right: 15px;
    @extend %margin-auto;

    @media screen and (min-width: 375px) {
            & {
                width: 375px;
            }

            .header__nav {
                display: none;
            }
    }
    
    @media screen and (min-width: 1024px) {
            outline: 2px solid rgb(199, 126, 58);
            & {
                width: 894px;
                padding-top: 12px;
                padding-bottom: 12px;
            }
    }

    @media screen and (min-width: 1440px) {
        outline: 2px solid blue;
            & {
                width: 1270px;
            }
    }
}


// .container {
//     width: 1240px;
//     @extend %margin-auto;

//     padding-left: 15px;
//     padding-right: 15px;
// }

// .header-container {
//     margin: 0 auto;
//     padding-top: 22px;
//     padding-bottom: 22px;
// }

// .services-container {
//     height: 1811px;
//     padding: 0;
// }

// .gifts-container {
//     display: flex;
//     @include paddings(0px, 86px, 38px, 120px);

//     border-radius: 25px;
//     background-color: #F2F4F4;

//     z-index: 1;
// }

// .reviews-container {
//     position: relative;
//     width: 1052px;
//     margin: 0 auto;
// }

// .backform-container {
//     position: relative;
//     display: flex;
//     align-items: center;
//     width: 1200px;
//     height: 594px;
//     margin: 0 auto;
// }

// .backform__form-container {
//     width: 479px;
//     @extend %margin-auto;

//     margin-top: 81px;
//     margin-bottom: 81px;
// }

// .footer-container {
//     // margin: 0 auto;
//     // @extend %margin-auto;
//     display: flex;
// }