:root {
    --body-background-color: #ffffff;
    --primary-text-color: #4A4A4A;
    --secondary-text-color: #F5F5F5;
    --header-color: #333333;
    --color-of-cards: #838383;
    --color-of-certificat: #C1C1C1;
    --accent-color: #E97522;
    --main-font: 'Montserrat', sans-serif;
}